@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    background-color: #313131;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #A2A39C
}

h1 {
    display: block;
    text-align: center;
    margin: 12px 0;
    font-size: 150%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
h1.division, .division {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #A2A39C60;
    border-top: 1px dashed #A2A39C60;
    margin-bottom: 20px
}

div.scoreContainer {
    flex: 1 0 25%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

div.scoreContainer .title {
    font-size: 2em
}

div.scoreContainer .score {
    font-size: 3.5em
}

div.scoreContainer .scoreInc {
    font-size: 1.5em
}

div.scoreContainer .scoreInc.text {
    font-size: 1em
}

div.scoreContainer .scoreInc i {
    margin-left: 10px;
}

div.scoreContainer .scoreInc i.red {
    color: rgba(231, 76, 60, .9)
}

div.scoreContainer .scoreInc i.green {
    color: rgba(166, 226, 46, .9)
}

div#score4.scoreContainer {
    flex: 1 0 33%;
    /*align-items: flex-end;*/
    /*justify-content: flex-start;
    padding-top: 50px*/
}

div#score4 .scoreInc {
    text-align: center;
    margin-top: 20px;
}


a, a:visited {
    color: #F92672AA;
    text-decoration: none;
    opacity: .7;
}

a:hover {
    opacity: 1;
}

/* Toogle */
#toggle_checkbox
{
    display: none;
}

label
{
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 8px;
    margin: 0 auto;
    transform: translateY(-50%);
    cursor: pointer;
}

label:before
{
    top: 8px;
    left: 8px;
    width: 30px;
    height: 30px;
    border: 3px solid #61bfdc;
}

label:after
{
    top: 0;
    right: 0;
    width: 100px;
    height: 46px;
    border: 3px solid #A2A39C;
}

label:before, label:after
{
    content: "";
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
}

#toggle_checkbox:checked + label:before
{
    top: 0;
    left: 0;
    width: 100px;
    height: 46px;
    border-color: #A2A39C;
}

#toggle_checkbox:checked + label:after
{
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-color: #61bfdc;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.scale-type {
    font-size: 2em;
}

.scale-type-active {
    color: rgba(102, 207, 239, 0.9);
    /*font-weight: bold;*/
}